.add-card-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form-control {
    width: 30%;
    min-width: 200px;
}

.add-card-button {
    cursor: pointer;
    border: none;
    background-color:green;
    color: white;
    border-radius: 5px;
}
